<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/crear.css" />
    <title>Crear Impresora</title>
  </head>
  <body>
    <form>
      <div>
        <input id="marca" name="marca" />
      </div>
      <div>
        <input id="modelo" name="modelo" />
      </div>
      <div>
        <input id="cartuchos" name="cartuchos" />
      </div>
      <div>
        <input id="tipo" name="tipo" />
      </div>
    </form>
    <img src="/tren2.jpg" height="50" />
    <button id="crear">Crear</button>
    <script src="/js/crear.js"></script>
  </body>
</html>
